/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Clear initial padding and margin and set box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Add page wide padding to sides and font */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
}

/* Generic class for setting content max-width. */
.max-width {
  width: 100%;
  max-width: 1200px;
  padding: 0 6rem;
}

/* Header styling */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  width: 100%;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero section styling */
.hero-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;
}

.hero-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-card button {
  flex-shrink: 0;
  max-width: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #f9faf8;
  font-size: 18px;
  background-color: #3882f6;
  border: none;
}

.hero-image {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 150px;
  width: 450px;
  background-color: #e5e7eb;
}