/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Clear initial padding and margin and set box-sizing */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Add page wide padding to sides and font */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: "Roboto", sans-serif;
}

/* Generic class for setting content max-width. */
.max-width {
  width: 100%;
  max-width: 1200px;
  padding: 0 6rem;
}

/* Header styling */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  width: 100%;
}

/* Navbar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.navbar li {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
}

/* Hero section styling */
.hero-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 5rem 0;
}

.hero-card {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 1rem;
  font-size: 18px;
  max-width: 500px;
}

.hero-title {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-card button {
  flex-shrink: 0;
  max-width: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  color: #e5e7eb;
  font-size: 18px;
  background-color: #3882f6;
  border: 2px solid #3882f6;
}

.hero-card button:hover {
  color: #3882f6;
  background-color: #e5e7eb;
}

.hero-image {
  align-self: center;
  max-height: auto;
  flex: 2 1 600px;
  height: 150px;
  background-color: #e5e7eb;
}

/* Information cards section */
.information-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-bottom: 4rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 200px;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100px;
  max-width: 300px;
}

.card > .image {
  height: 200px;
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 20px;
}

/* Quote section */
.quote-section {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  width: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  padding: 3rem;
}

.quote-text {
  font-size: 36px;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.quote-author {
  margin-left: auto;
}

/* Call to action section */
.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 6rem 0;
  background-color: #3882f6;
  border-radius: 10px;
}

.call-to-action-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #f9faf8;
  font-size: 18px;
}

.call-to-action button {
  flex-shrink: 0;
  max-width: 100px;
  padding: 5px 15px;
  border-radius: 10px;
  color: #e5e7eb;
  font-size: 18px;
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  align-self: center;
}

.call-to-action button:hover {
  color: #3882f6;
  background-color: #e5e7eb;
  border-color: #3882f6;
}